.main-view {
    height: 100%;
    overflow: hidden;
}

.hidden-scroller::-webkit-scrollbar {
    display: none;
}

.hidden-scroller {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    padding: 0;
}

.introduction {
    margin-left: 1em;
    text-indent: 30px;
    color: #333;
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block {
    background-color: gray;
    height: 400px;
    width: 400px;
}

vaadin-tab[selected] {
    color: var(--lumo-header-text-color);
    border-bottom: 2px solid var(--lumo-contrast-70pct);
}

vaadin-tab {
    font-weight: 900;
}